version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./scripts:/app/scripts
      - ./alembic:/app/alembic
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - DATABASE_URI=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-atol_db}
    depends_on:
      - db
    restart: always

  db:
    image: postgres:14
    ports:
      - "5433:5432"
    env_file:
      - .env
    environment:
      # Override DATABASE_HOST to ensure it uses the Docker service name
      - POSTGRES_SERVER=db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
