name: Lint

on:
  push:
    branches: [main, master]
  pull_request:
    branches: ["*"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        run: pip install uv

      - name: Sync dependencies
        run: uv sync --dev --frozen

      - name: Run pre-commit
        run: uv run pre-commit run --all-files --show-diff-on-failure
